[submodule "argparse"]
	path = argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "json-parser"]
	path = json-parser
	url = https://github.com/json-parser/json-parser.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
